[submodule "deps/metaplex-mpl"]
	path = deps/metaplex-mpl
	url = https://github.com/metaplex-foundation/metaplex-program-library
	ignore = dirty
[submodule "deps/solana-spl"]
	path = deps/solana-spl
	url = https://github.com/solana-labs/solana-program-library.git
    ignore = dirty
[submodule "deps/tensorswap"]
	path = deps/tensorswap
	url = git@github.com:tensor-hq/tensorswap.git
